<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paletteable</title>
    <link rel="stylesheet" href="/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/colorjoe.css">
</head>
<body>
    
    <%- include('navbar') %>

    <div id="content-container">
        <div id="main-container"></div>
        <div id="button-row">
            <button id="generate" onclick="generate();"><i class='bx bx-refresh'></i> Generate</button>
            <form id="save-palette-form" action="/palettes" method="POST">
                <input type="hidden" name="colors" id="palette-colors">
                <button type="submit">
                    <i class='bx bx-save'></i> Save Palette
                </button>
            </form>
        </div>
        <hr style="margin-top: 3em;"/>
        <div class="info-container">
            <div class="info">
                <h1>Usage Tips</h1>
                <ul>
                    <li>If no colors are locked, the generator will produce a completely random palette.</li>
                    <li>Have a color in mind? Pick it and lock it to keep it in place (Note that the color will change slightly).</li>
                    <li>Color order matters — experiment with different positions for varied results.</li>
                    <li>Try placing complementary colors at the ends of the palette to create dynamic transitions in between.</li>                    
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/onecolor@3.1.0/one-color-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/colorjoe@1.0.2/dist/colorjoe.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>
