* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000211;
    font-family: Arial, sans-serif;
}


/* Navigation Bar Styles */
nav {
    background-color: #11121a;
    border-bottom: 1px solid #272832 ;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: flex;
}

nav .home-li {
    margin-right: auto;
}

nav a {
    display: flex;
    text-decoration: none;
    color: #c9c9c9;
    padding: 1em 2em;
    gap: 10px;
    transition: background-color 150ms ease;
}

nav a:hover{
    background-color: #272832;
}

nav a.active-link {
    border-bottom: 2px solid #c9c9c9;
}

nav a.accent-link {
    background-color: #0071ff;
}

#open-sidebar-button {
    all: unset;
    display: none;
    background: none;
    border: none;
    padding: 0.5em;
    margin-left: auto;
    cursor: pointer;
    color: #c9c9c9;
    font-size: 2em;
}

#close-sidebar-button {
    all: unset;
    display: none;
    background: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    color: #c9c9c9;
    font-size: 2em;
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

@media screen and (max-width: 800px) {
    #open-sidebar-button, #close-sidebar-button{
        display: block;
    }
    nav.main {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid #272832;
        transition: right 300ms ease-out;
    }
    nav.main.show {
        right: 0;
    }
    nav.main.show ~ #overlay {
        display: block;
    }
    nav.main ul {
        width: 100%;
        flex-direction: column;
    }
    nav.main a {
        width: 100%;
        padding-left: 2.5em;
    }
    nav.main a.active-link {
        border-bottom: none;
    }
    nav.main .home-li {
        margin-right: unset;
    }
}


/* Palette Container Styles */
#content-container {
    display: grid;
    justify-content: center;
    margin-top: 5em;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;;
}

.color {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
}

.color-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.color-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 15px;
}

.hexcode {
    color: white;
}

.tool {
    color: #666666;
    cursor: pointer;
}

.tool:hover {
    color: white;
}

.locked {
    color: white;
}

#picker {
    width: 19em;
    height: 16em;
    margin-top: 2em;
    position: absolute;
    z-index: 2;
    background-color: #191919;

}

/* Button Styles */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: #CCCCCC;
    border: none;
    border-radius: 50px;
    margin: 0.5em;
    gap: 10px;
}

button:hover {
    background-color: #EEEEEE;
}

#button-row {
    display: flex;
}

/* Login and Registration Styles */
.login-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.glass-container {
    width: 300px;
    height: 350px;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
}

.login-box {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}

.login-text {
    color: #fff;
    margin: 1em;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: 0.5em;
}

.login-input {
    padding: 1em;
    margin-top: 1.5em;
    border: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
}

.login-input::placeholder {
    color: #fff;
}

.login-input:focus {
    outline: none;
}

.login-button {
    all: unset;
    background: #fff;
    color: black;
    padding: 0.75em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1em;
}

.login-button:hover {
    background: transparent;
    color: white;
    outline: 1px solid #fff;
}

p {
    font-size: 12px;
    color: #fff;
    margin-top: 2em;
}

h2 {
    color: #fff;
    margin-left: 0.5em;
    margin-bottom: 0.25em;
}

#register {
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
}

/* Icon Styles */
i {
    font-size: 19px;
}


/* Settings Styles */
.settings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-info {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 2em;
    gap: 10px;
}

/* Template Styles */
#template-container {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    background-color: #444;
    flex-wrap: wrap;
    padding: 1em;
}

#template-content {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    gap: 1em;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    flex: 1 1 300px;
}

.column-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

}

.template-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 480px;
    height: auto;
    background-color: #DFDFDF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 2em 1em;
}

.top-box {
    display: flex;
    width: 100%;
    height: 50%;
    align-self: center;
}

.bottom-box {
    height: 20em;
}

.template-box.profile{
    height: auto;
}

.profile-picture {
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    background-image: url('https://cdn-icons-png.flaticon.com/512/149/149071.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.profile-username {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.profile-text {
    margin: 1em;
    font-size: 1em;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.message {
    color: #EEE;
    background-color: darkblue;
}

.follow {
    border: 2px solid #444;
    background-color: #EEE;
}

.template-box.bio {
    padding: 1.25em;
    display: flex;
    align-items: flex-start;
    gap: 0.75em;
}

.template-box.bio span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.template-box.bio i {
    margin-right: 0.5em;
}

.template-box.bio .label {
    flex-grow: 1;
    white-space: nowrap;
}

.bio-link {
    white-space: nowrap;
    color: #ddd;
    font-size: 0.95em;
    text-align: right;
}

.template-box.top-box {
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.template-box.top-box span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 1.25em;
    gap: 3em;
}

.template-box.top-box strong {
    min-width: 8em; 
    text-align: left;
}

.placeholder {
    margin-left: auto;
    text-align: left;
}

#template-content .column .column-row span {
    font-size: 1.5em;
    font-weight: bold;
}

.template-box.bottom-box {
    padding: 1em;
}

.template-box.bottom-box .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

 .template-box.bottom-box span {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.template-box.bottom-box button {
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #444;
    top: 100%;
    left: 0;
    min-width: 100%;
}

.dropdown-menu li a {
    display: block;
    width: 100%
}

.dropdown-menu li a:hover {
    background-color: #555;
}

.dropdown.active .dropdown-menu {
    display: block;
}

.dropdown-toggle i {
    font-size: 1em;
}

hr {
    border-top: 1px solid gray;
    width: 100%;
}

#name-input {
    width: 100%;
    max-width: 300px;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    font-size: 1em;
    transition: border-color 0.3s ease, background 0.3s ease;
    backdrop-filter: blur(5px);
    margin-bottom: 1em;
}

#name-input:focus {
    outline: none;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

.info {
    background-color: rgba(255, 255, 255, 0.05);
    margin-top: 4em;
    padding: 1.5em;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #eee;
    font-size: 1em;
    line-height: 2;
}

.info h1 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.info ul {
    margin-bottom: 0.75em;
    margin-left: 1em;
}

@media (max-width: 1500px) {
    .color-container {
        width: 200px;
    }
    .color {
        width: 200px;
        height: 150px;
    }
    .hexcode {
        display: none;
    }

    .color:hover {
        transform: scale(1.05);
        z-index: 1;
    }

    .color:hover .color-text {
        display: inline;
        opacity: 1;
    }
}

@media (max-width: 1250px) {
    .color-container {
        width: 200px;
    }
    .color {
        width: 200px;
    }
    
    #picker {
        top: 25%;
        left: 50%;
        margin-left: -9.5em;
        z-index: 2;
        margin-top: 0;
    }
}

@media (max-width: 1000px) {
    .color-container {
        width: 150px;
    }
    .color {
        width: 150px;
        height: 100px;
    }

    .template-box.bottom-box button {
        width: 125px;
    }
}

@media (max-width: 750px) {
    .color-container {
        width: 100px;
    }
    .color {
        width: 100px;
        height: 66px;
    }

    .info-container {
        display: flex;
        justify-content: center;
    }
    .info {
        width: 300px;
    }

    .info-container .info h1 {
        font-size: 0.75em;
    }

    .info ul {
        font-size: 0.5em;
    }
}

@media (max-width: 500px) {
    .color-container {
        width: 75px;
    }
    .color {
        width: 75px;
        height: 60px;
    }

    .color .color-text {
        font-size: 15px;
    }

    .color-container .row {
        margin: 0;
    }

    .tool {
        font-size: 10px;
    }

    .row i {
        font-size: 15px;
    }

    .template-box.bottom-box button {
        width: 100px;
    }

    #generate, .back, form button, .logout-button {
        width: 100px; 
        height: 25px;
        font-size: 8px;
    }

    .template-box.top-box .placeholder, .template-box.top-box strong, .template-box text {
        font-size: .75em;
    }
}

@media (max-width: 380px) {
    .color-container {
        width: 60px;
    }
    .color {
        width: 60px;
        height: 40px;
    }
    .row i {
        font-size: 12px;
    }
}